<body>

<div class="login-box">

  <h1>Login here</h1>

  <form formGroup="loginFormGroup" (ngSubmit)="loginUser()">

    <label for="username">Username</label>
    <input pInputText id="username" type="text" placeholder="Enter username"/>

    <label for="password">Password</label>
    <input pPassword id="password" type="password" placeholder="Enter password"/>

    <button pButton id="login" type="button" label="Log In" class="p-button-rounded"></button>

    <button pButton id="forgotPassword" type="button" label="Forgot password?"
            class="p-button-outlined p-button-rounded"></button>

  </form>
</div>

</body>


