body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: coral;
  font-family: sans-serif;
}

.login-box {
  border-radius: 15px;
  width: 400px;
  height: 600px;
  background: darkslategrey;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
button.p-button-link[id="signIn"]{
  margin-top : 10px;
  color: white;
  font-size: small;

}

button.p-button-link[id="signIn"]:hover{
  text-decoration: none;
  color: orange;
  box-shadow:none;
  text-underline: none;

}


button.p-button-link[id="signIn"]:active{
  color: #39dc79;
  box-shadow:none;
}


.login-box input[type="text"], input[type="password"] {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  background: transparent;
  color: #fff;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.login-box button[id="login"] {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 35px;
  background: #1c8adb;
  height: 40px;
  color: #fff;
  font-size: 18px;
  border: none;
}

.login-box button[id="login"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: darkslategrey;
}

.login-box button[id="forgotPassword"] {
  text-decoration: none;
  height: 40px;
  color: #fff;
  font-size: 14px;
  background: transparent;
}

.login-box button[id="forgotPassword"]:hover {
  color: #39dc79;
}

.login-box small{
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: crimson;
  text-align-all: justify;
}
